---
layout: post
title: Recetas
---

<div class="row">
    <div class="col-md-12">
        {% assign cat = page.categories  %}
        {% for category in site.categories %}
          <li><a name="{{ category | first }}">{{ category | first }}</a>
            <ul>
             {% for post in category[1] %}
                <article class="post">
              <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} {{ cat }}</a></h1>
               <div class="entry">
                    {{ post.excerpt }}
               </div>
               <a class="button" style="font-size: 12px;" href="{{ site.baseurl }}{{ post.url }}"><span class="fas fa-hand-point-right"></span>&nbsp;Sigue leyendo</a>
            </article>
                
              {% endfor %}
             </ul>
          </li>
        {% endfor %}
        <h2>Próximos115 eventos</h2>
        {% assign curDate = site.time | date: "%Y-%m-%d" %}

        <ul>
            {% for post in site.posts reversed %}
            {% assign date = post.date | date: "%Y-%m-%d" %}
            {% if date <= curDate %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

  <!--  <div class="col-md-6">
        <h2>Calendario de actividades</h2>
        <p><a style="font-weight: bold;" title="añádeme a tu aplicación de calendario" href="http://bit.ly/calendario-HackLabAl">Subscríbete a nuestro calendario</a> (usando <a style="font-weight: bold;" title="añádeme a tu aplicación de calendario" href="http://bit.ly/calendario-HackLabAl">este enlace</a>) para estar siempre informado de todas las actividades ámbito tecnólogo de Almería.</p>
        <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;mode=AGENDA&amp;wkst=2&amp;src=eohual6srvr2l4oqa1ujevad9s%40group.calendar.google.com"  width="100%" height="400" frameborder="0" ></iframe>

    </div>-->
</div>
