---
layout: default
---
{% assign months = "enero|febrero|marzo|abril|mayo|junio|julio|agosto|septiembre|octubre|noviembre|diciembre" | split: "|" %}
{% assign m = page.date | date: "%-m" | minus: 1 %}
{% assign day = page.date | date: "%d" %}
{% assign month = months[m] %}
{% assign year = page.date | date: "%Y" %}
<div class="container">
    <article>
        <h2>{{ page.title }}</h2>
        <p>Publicado por: <strong><a href="{{page.authorweb}}">{{page.author}}</a></strong>, {{day}} de {{month}} del {{year}}</p>
        <br>
        <h4>{{ page.subtitle }}</h4>
        <hr class="large">
        {{ content }}
    </article>
    <hr class="large" />
    <div id="discourse-comments"></div>
</div>
<script type="text/javascript">
    var discourseUrl = "https://foro.hacklabsucre.org/",
            discourseEmbedUrl = 'http://{{site.domain}}{{page.url}}';
    (function() {
        var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
        d.src = discourseUrl + 'javascripts/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
</script>
